@media (min-width: 320px){
    .chat {
        display: grid;
        grid-template-columns: 0 100%;
    }
}

@media (min-width: 992px){
    .chat {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

.chat button,
.chat a {
    transition: all 0.2s;    
    color: #194052;    
    background-color: transparent !important;
    border: none;
}

.chat button:hover,
.chat a:hover {    
    cursor: pointer;    
    filter: brightness(500%);        
}

.chat .section-height {
    height: 100vh;
}

.chat .side-panel {    
    background-color: transparent;    
}

.chat .main-panel {    
    background-color: transparent;    
}

.chat .main-panel .navbar .currentChat {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    width: 50%;
    color: #194052;
    font-size: 150%;
    margin-right: auto;
}

.chat .main-panel .navbar .navbar-collapse .navbar-nav  {
    margin-left: auto;        
    display: flex;
    align-items: center;
    justify-content: space-around;
}