.chat {
    display: grid;
    grid-template-columns: 30% 70%;
}

.chat button,
.chat a {
    transition: all 0.2s;    
    color: #194052;    
    background-color: transparent !important;
    border: none;
}

.chat button:hover,
.chat a:hover {    
    cursor: pointer;    
    filter: brightness(500%);        
}

.chat .section-height {
    height: 100vh;
}

.chat .side-panel {    
    background-color: transparent;    
}

.chat .side-panel .navbar,
.chat .main-panel .navbar {
    width: 100%;    
    background-color: #76b7eb;    
    height: 10vh;
    margin: 0;
    border-right: 1px solid #194052;
}

.chat .side-panel .navbar a,
.chat .main-panel .navbar a {
    color: #194052;
    font-weight: bold;
}

.chat .side-panel .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 15vh;
    background-color: transparent;
    border-bottom: 1px solid #76b7eb;   
    border-right: 1px solid #76b7eb;
    padding-left: 2%;
    padding-right: 2%;    
}

.chat .side-panel .searchbar form {
    width: 100%;
}

.chat .side-panel .searchbar form input {
    font-size: 150%;
    border-right: none;    
    border-top-left-radius: 25px;    
    border-bottom-left-radius: 25px;
    padding-left: 5%;
}

.chat .side-panel .searchbar form .input-group-prepend {
    border-top-right-radius: 25px;    
    border-bottom-right-radius: 25px;    
    padding-right: 2%;
}

.chat .side-panel .searchbar form .input-group-prepend button {
    color: #76b7eb;
    outline-color: transparent;
}

.chat .side-panel .conversations {
    display: block;
    height: 75vh;
    overflow-y: auto;
    border-right: 1px solid #76b7eb;
}

.chat .side-panel .conversations::-webkit-scrollbar {    
    width: 1.5%;    
    background-color: transparent;    
}

.chat .side-panel .conversations::-webkit-scrollbar-thumb {
    background-color: #76b7eb; 
}

.chat .side-panel .conversations .conversations-list {
    margin: 0;
}

.chat .side-panel .conversations .conversations-list .conversation-cell {
    display: flex;
    align-items: center;    
    background-color: #194052;
    border: none;
    border-radius: 0;
    border-top: 0.25px solid #76b7eb;
    list-style: none;
    transition: filter 0.2s;        
    
}

.chat .side-panel .conversations .conversations-list .conversation-cell:hover {    
    filter: brightness(150%)
}

.chat .side-panel .conversations .conversations-list .conversation-cell:first-child {
    border-top: none;    
} 

.chat .side-panel .conversations .conversations-list .conversation-cell:last-child {
    border-bottom: 1px solid #76b7eb;
}

.chat .side-panel .conversations .conversations-list .conversation-cell .company-vacancy {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;    
    margin-left: 5%;
    font-size: 150%;
}

.chat .side-panel .conversations .conversations-list .conversation-cell 
.company-vacancy .company {
    font-weight: bold;
}

.chat .side-panel .conversations .conversations-list .conversation-cell 
.messages-not-verified {
    margin-left: auto;
}

.chat .main-panel {    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat .main-panel .navbar .currentChat {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;    
    height: 100%;
    width: 50%;
    color: #194052;
    font-size: 150%;
    margin-right: auto;
}

.chat .main-panel .navbar .navbar-collapse .navbar-nav  {
    margin-left: auto;        
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat .main-panel .messages-area {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    overflow-y: auto;
}

.chat .main-panel .messages-area::-webkit-scrollbar {
    width: 1%;    
    background-color: transparent;    
    border-left: 1px solid #76b7eb;    
}

.chat .main-panel .messages-area::-webkit-scrollbar-thumb {
    background-color: #76b7eb;     
}


.chat .main-panel footer {    
    width: 100%;
    height: 12vh;
    background-color: #76b7eb;    
}

.chat .main-panel footer form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chat .main-panel footer form input {
    background-color: #194052;
    padding: 1%;
    padding-left: 2%;
    font-size: 200%;
    width: 90%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.chat .main-panel footer form button {
    background-color: #76b7eb;
    color: #194052;
    padding: 1%;
    border: none;    
}