.messageBox {
    background: #F3F3F3 !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
    color: white !important;
    display: inline-block !important;
    max-width: 80% !important;
  }
  
  .messageText {
    width: 100% !important;
    letter-spacing: 0 !important;
    float: left !important;
    font-size: 1.1em !important;
    word-wrap: break-word !important;
  }
  
  .messageText img {
    vertical-align: middle !important;
  }
  
  .messageContainer {
    display: flex !important;
    justify-content: flex-end !important;
    padding: 0 5% !important;
    margin-top: 3px !important;
  }
  
  .sentText {
    display: flex !important;
    align-items: center !important;
    font-family: Helvetica !important;
    color: #828282 !important;
    letter-spacing: 0.3px !important;
  }
  
  .pl-10 {
    padding-left: 10px !important;
  }
  
  .pr-10 {
    padding-right: 10px !important;
  }
  
  .justifyStart {
    justify-content: flex-start !important;
  }
  
  .justifyEnd {
    justify-content: flex-end !important;
  }
  
  .colorWhite {
    color: white !important;
  }
  
  .colorDark {
    color: #353535 !important;
  }
  
  .backgroundBlue {
    background: #2979FF !important;
  }
  
  .backgroundLight {
    background: #F3F3F3 !important;
  }