.button {
    padding: 1%;
    border: none;
}

.container .content {
    margin-top: 5%;
    width: 100%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    background-color: transparent;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.container .content .row {
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

.user-data-container-button,
.contact-data-container-buttons,
.address-data-container-buttons,
.professional-data-container-buttons,
.graduation-data-container-buttons {
    text-align: center;
    margin-top: 2.5%;
}

.user-data-container-button,
.contact-data-container-buttons,
.address-data-container-buttons,
.professional-data-container-buttons,
.graduation-data-container-buttons,
.contact-delete-alter-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 2px solid;
    padding: 1%;
    width: 100%;
    background-color: transparent;
    color: #76b7eb;
}

.accordion-header,
.accordion-body {
    border: 1px solid #76b7eb;
    padding: 0;
}

.accordion-header {
    border-bottom: none;
}

.card {
    background-color: transparent;
    margin-top: 5%;    
}

.accordion-body {
    padding-bottom: 5%;
    padding-top: 1%;
}

.modal-delete-graduation .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body-border {
    border-left: 1px solid #76b7eb;
    border-right: 1px solid #76b7eb;
    background-color: #194052;
}

.table tbody tr {
    cursor: pointer;    
}

.conversation-modal .modal-footer .conversation-delete-enter-options {    
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 50%;
    margin: 0;    
}

.accordion-body .container {
    margin-top: 5%;
}

.list-graduations {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 24px;
   list-style: none;
   margin-left: 1%;
   margin-right: 1%;
}
 
ul li {
  background-color: transparent;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  border: 2px solid #76b7eb;
}

 ul li button {
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  transition: filter 0.2s;
}

 ul li button:hover {
  filter: brightness(200%);
}

 ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #76b7eb;
}

 ul li p + strong {
  margin-top: 32px;
}

 ul li p {
  color: #76b7eb;
  line-height: 21px;
  font-size: 16px;
}