.outerContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    background-color: #1A1A1D !important;
  }
  
  .container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    background: #FFFFFF !important;
    border-radius: 8px !important;
    height: 60% !important;
    width: 35% !important;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100% !important;
    }
  
    .container {
      width: 100% !important;
      height: 100%  !important;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60% !important;
    }
  }