.infoBar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: #2979FF !important;
    border-radius: 4px 4px 0 0 !important;
    height: 60px !important;
    width: 100% !important;
  }
  
  .leftInnerContainer {
    flex: 0.5 !important;
    display: flex !important;
    align-items: center !important;
    margin-left: 5% !important;
    color: white !important;
  }
  
  .rightInnerContainer {
    display: flex !important;
    flex: 0.5 !important;
    justify-content: flex-end !important;
    margin-right: 5% !important;
  }
  
  .onlineIcon {
    margin-right: 5% !important;
  }