.search-title{
    text-align: center;
}

.search-input::placeholder {
    color: #76b7eb;
}

.button {
    background-color: transparent;    
    color: #76b7eb;    
    padding: 1%;
    display: flex;
    align-items: center;  
}

.search-button {
    border: none;
}

.action {
    color: #76b7eb;
    font-weight: bold;
    font-size: 18px;    
}

.list-vacancies {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    list-style: none;
    margin-left: 1%;
    margin-right: 1%;
}

ul li {
    background-color: transparent;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    border: 2px solid #76b7eb;
}

ul li button {
    background-color: transparent;
    position: absolute;
    right: 24px;
    top: 24px;
    border: none;
    transition: filter 0.2s;
}

ul li button:hover {
    filter: brightness(200%);
}

ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #76b7eb;
}

ul li p + strong {
    margin-top: 32px;
}

ul li p {
    color: #76b7eb;
    line-height: 21px;
    font-size: 16px;
    word-break: break-all;
}