@media (min-width: 320px){
    .message-box {
        background-color: #76b7eb;
        border-radius: 20px;
        padding: 5px 20px;        
        color: #194052;
        display: inline-block;
        max-width: 80%;    
    }
}

@media (min-width: 992px){
    .message-box {
        background-color: #76b7eb;
        border-radius: 20px;
        padding: 1.5%;
        padding-bottom: 0;
        color: #194052;
        display: inline-block;
        max-width: 80%;    
    }
}

.message-text {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.message-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 2%;
    margin-top: 3px;
}

.pl-10 {
    padding-left: 10px;    
}

.pr-10 {
    padding-right: 10px;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.current-account {
    background-color: #76b7eb;
    font-weight: bold;
}

.other-account {
    background-color: transparent;
    border: 2px solid #76b7eb;
}

.other-account .message-text,
.other-account .message-timestamp {    
    color: #76b7eb;    
}

.message-timestamp {
    font-weight: bold;    
}