.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container h1 {
    font-size: 600%;
    color: #76b7eb;
    font-weight: bold;    
}

.container .row .col {
    text-align: center;
    
}

.container .row .col .login-icon {
    margin-left: 2%;
}

.container .row {
    margin-top: 5%;
    width: 100%;
}

.button {    
    background-color: transparent;
    font-size: 250%;
    border: 1px solid #76b7eb;
    color: #76b7eb;
    width: 100%;    
}

.button span {
    color: #76b7eb;
}
