.list-invitations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    margin-left: 1%;
    margin-right: 1%;
}

.list-invitations-graduations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;    
}

.list-invitations li {
    background-color: transparent;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    border: 2px solid #76b7eb;
}
  
.list-invitations li strong {
    display: block;
    margin-bottom: 16px;
    color: #76b7eb;
}
  
.list-invitations li p + strong {
    margin-top: 32px;
}
  
.list-invitations li p {
    color: #76b7eb;
    line-height: 21px;
    font-size: 16px;
    word-break: break-all;
}

.list-invitations li h2 {
    text-align: center;
}

.list-invitations li .accept-decline-options {
    width: 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-invitations li .accept-decline-options button {
    background-color: transparent;
    border: none;
    transition: all 0.2s;
}

.list-invitations li .accept-decline-options button:hover {
    cursor: pointer;
    filter: brightness(200%);
}