.container .content {
    width: 100%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    background-color: transparent;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 8px;    
}

.container .content .row {
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

.container .content .row label + input,
.container .content .row label + select {
    margin-bottom: 10%;
}

.container .content .row input, 
.container .content .row select {
    width: 100%;
    font-size: 150%;
    padding: 2%;
}
