.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content {
    width: 95%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    background-color: transparent;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 8px;    
}

.container .content section {
    text-align: center;        
}

.container .content section form input {
    font-size: 200%;
}

.container .content section form a {
    text-decoration: none;
}

.container .content section form button {
    display: flex;
    width: 100%;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
}

.container .content section form .links a {
    font-size: 150%;
    color: #76b7eb;
}

.container .content section form .row {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}