.input-message {    
    width: 100%;
    height: 12vh;
    background-color: #76b7eb;    
}

.input-message form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-message form input {
    background-color: #194052;
    padding: 1%;
    padding-left: 2%;
    font-size: 200%;
    width: 90%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input-message form button {
    background-color: #76b7eb;
    color: #194052;
    padding: 1%;
    border: none;    
}